.section__filter {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.section__filter .title {
	font: var(--font-title);
}

.section__data {
	width: 100%;
	height: calc(100vh - 200px);
}
