.container__page {
	width: 100%;
	height: calc(100vh - 80px);
	display: flex;
	align-items: center;
	justify-content: center;
}

.form__user {
	width: 350px;
}

.form__user .form__legend {
	font: var(--font-title);
	margin-bottom: 30px;
}

.form__user .form__field {
	margin-bottom: 30px;
}
